body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.shopping-list-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.shopping-list-container h1{
    text-align: center;
    text-decoration: underline;
}

.shopping-list-container input {
    width: calc(100% - 80px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    outline: none;
}

.shopping-list-container input:focus {
    border-color: #007bff;
}

.shopping-list-container button {
    padding: 10px;
    border: none;
    background-color: red;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.shopping-list-container button:hover {
    cursor: pointer;
}

.shopping-list-container ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

.shopping-list-container li {
    padding: 10px;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}


.shopping-list-container li:hover {
    background-color: #e9ecef;
}
